/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2015, 12:31:51 PM
    Author     : lilybrown
*/

@import url('http://fonts.googleapis.com/css?family=Quicksand');


body {
    font-family: 'Quicksand', sans-serif;
    margin: 36px auto;
    background-color: rgb(255, 240, 255);
    text-align: center;
}

